@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0F172A;
  --text-h: #0F172A;
  --bg: #F8FAFC;
  --border: #CBD5E1;
  --code-bg: #F1F5F9;
  --accent: #3D5AFE;
  --accent-bg: rgba(61, 90, 254, 0.1);
  --accent-border: rgba(61, 90, 254, 0.5);
  --social-bg: rgba(241, 245, 249, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.05) 0 10px 15px -3px, rgba(0, 0, 0, 0.03) 0 4px 6px -2px;

  --sans: 'Inter', system-ui, -apple-system, sans-serif;
  --heading: 'Space Grotesk', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.kinetic-gradient {
  background: linear-gradient(135deg, #2444eb 0%, #8999ff 100%);
}

.kinetic-bg {
    background-image: radial-gradient(circle at 2px 2px, rgba(36, 68, 235, 0.05) 1px, transparent 0);
    background-size: 40px 40px;
}

.signature-gradient {
  background: linear-gradient(135deg, #3D5AFE 0%, #7C4DFF 100%);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
